* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #454545;
  line-height: 1.9;
  background-color: #d5def5;
}

/* Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 9rem;
  z-index: 100;
  padding: 0 6rem;
}

/* .logo-name {
  margin-right: 30rem;
  color: #5c5c5c;
  font-size: 18px;
} */
.navigation.sticky {
  position: fixed;
  background-color: #d5def5;
}

.nav_logo {
  margin-top: 5rem;
  height: 18.5rem;
  transition: all 0.3s;
}

.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav_list {
  margin-left: 4rem;
}

.nav_link:link,
.nav_link:visited {
  display: block;
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  transition: all 0.3s;
  text-decoration: none;
}

.nav_link-btn:link,
.nav_link-btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: #8594e4;
  color: #222;
}

.nav_link-btn:hover,
.nav_link-btn:active {
  color: #333;
  color: inherit;
  background-color: #8594e4;
}

.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div_intro {
  padding-top: 5rem;
  flex: 1;
  max-width: 115rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  row-gap: 3rem;
  align-content: center;
  justify-content: center;
  align-items: start;
  justify-items: start;
}

.div_intro-heading {
  font-size: 4.5rem;
  width: 80%;
  line-height: 1.4;
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.div-intro-img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-6rem);
}

.intro-highlight {
  position: relative;
}

.intro-highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-color: #8594e4;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.start-btn {
  display: inline-block;
  background: none;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  margin-right: 1rem;
  font-family: inherit;
  font-weight: 550;
  font-size: 2.4rem;
  color: #8594e4;
  cursor: pointer;
  transition: all 0.3s;
}

/* First section: about us */
.section-1 {
  padding: 12rem 2rem;
  border-top: 1px solid #8594e4;
  transition: transform 1s, opacity 1s;
}

.section-description {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8594e4;
  margin-bottom: 1rem;
}

.section-defination {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.aboutus--section {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 850px;
  height: 430px;
  overflow: hidden;
  position: relative;
  margin-left: 17rem;
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutus--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.8rem;
  color: white;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  padding: 30px;
  line-height: 25px;
  position: absolute;
  background: #8593e405;
  backdrop-filter: blur(5px);
  transition: 2s;
}

.aboutus--section:hover .aboutus--text {
  right: 0;
}

/* Features */
.section-2 {
  width: 100%;
  height: 100vh;
  padding: 0 8%;
  /* padding: 15rem 3rem; */
  /* border-top: 1px solid #8594e4;
  transition: transform 1s, opacity 1s; */
}

.section2-description {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section2-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8594e4;
  margin-bottom: 1rem;
}

.section2-defination {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.features--section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
}

.service {
  padding: 25px 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s, background 0.8s;
}

.service i {
  font-size: 40px;
  color: #8594e4;
  margin-bottom: 10px;
}

.service h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.service:hover {
  background: #abb5eea4;
  color: white;
  transform: scale(1.05s);
}

.service:hover i {
  color: white;
}

/* Operations */
.section--main3 {
  width: 100%;
  height: 100vh;
  padding: 8% 7%;
}

.section3-description {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section3-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8594e4;
  margin-bottom: 1rem;
}

.section3-defination {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.section-3 {
  width: 800px;
  /* background-color: burlywood; */
  padding: 30px;
  box-shadow: 0 2px 16px black;
  border-radius: 20px;
  margin-left: 15rem;
}

.section--tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.operations--tab {
  font-size: 18px;
  font-weight: 600;
  /* color: gray; */
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}

.section--tabs .operations--tab.active {
  color: blueviolet;
}
.operations--tab--content {
  padding: 20px;
}

.operations--tab--content .operations1--tab h2 {
  margin-bottom: 10px;
}

.operations--tab--content .operations1--tab {
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
.operations--tab--content .operations1--tab.active {
  display: block;
}

.line {
  position: absolute;
  border-radius: 10px;
  top: 56px;
  left: 17px;
  width: 90px;
  height: 5px;
  background-color: purple;
  transition: all 0.3s ease-in-out;
}

/* Testimonilas */
.testimonials--slides--row {
  display: flex;
  width: 3200px;
  transition: 0.5s;
}

.testimonials--slides--col {
  width: 800px;
  height: 400px;
  position: relative;
}

.testimonila--user-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.testimonila--user-img img {
  height: 100%;
  border-radius: 10px;
}

.testimonials--user {
  background: #8594e4;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #454545;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}

.testimonials--user p {
  font-size: 18px;
  line-height: 24px;
}

.testimonials--user h3 {
  margin: 35px 0 5px;
  color: white;
}

.testimonials--container {
  width: 800px;
  height: 400px;
  position: absolute;
  top: 500%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonilas--indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}

.testimonilas--btn {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: white;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  background: #68616138;
}

.testimonilas-row {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.testimonial-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

/* .testimonial--btn--left {
  left: -8%;
  transform: translate(-50%, -50%);
}

.testimonial--btn--right {
  right: -8%;
  transform: translate(50%, -50%);
} */

.section4-description {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
  margin-bottom: -25px;
}

.section4-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8594e4;
  margin-bottom: 1rem;
}

.section4-defination {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.section-4 {
  width: 800px;
  /* background-color: burlywood; */
  /* padding: 30px;
  box-shadow: 0 2px 16px black;
  /* border-radius: 20px; */
  margin-left: 25rem;
  position: absolute;
  top: 630%;
}

/* Key facts */

.section5-description {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section5-title {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #8594e4;
  margin-bottom: 1rem;
}

.section5-defination {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.section-5 {
  top: 550%;
  position: absolute;
  width: 900px;
  margin-left: 17rem;
}

.key--facts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  list-style: none;
  width: 800px;
  margin-left: 5rem;
  justify-content: space-between;
}

.key--facts h1 {
  font-size: 60px;
}

.key--facts p {
  font-size: 30px;
  font-weight: 100;
  justify-content: space-between;
  margin-top: -32px;
  margin-left: -1rem;
  color: #45454574;
  width: 10px;
}

/* SLIDER */

.slider {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  top: -60%;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;

  /* THIS creates the animation! */
  transition: transform 1s;
}

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1;
}

/* TESTIMONIALS */
.testimonial {
  width: 65%;
  position: relative;
}

.testimonial::before {
  content: "\201C";
  position: absolute;
  top: -5.7rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: -1;
}

.testimonial__header {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: #666;
}

.testimonial__author {
  margin-left: 3rem;
  font-style: normal;

  display: grid;
  grid-template-columns: 6.5rem 1fr;
  column-gap: 2rem;
}

.testimonial__photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial__name {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

.footer {
  position: absolute;
  top: 750%;
  padding: 10rem 3rem;
  background-color: #8593e45e;
  width: 100%;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
